<footer class="footer">
  <div class="footer__inner">
      <div class="copyright">
        <span>© {{ now.Year }} </span>
      </div>
      <div class="copyright" style="text-align: center;">
          <span>
            Numéro de carte Pro : 064-2030-12-30-20250990473
          </span>
      </div>
  </div>
</footer>

{{ $menu := resources.Get "js/menu.js" | js.Build }}
{{ $cp := resources.Get "js/code.js" | js.Build }}

{{ $bundle := slice $menu $cp | resources.Concat "bundle.js" | resources.Minify }}

<script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>

{{ $ctx := dict
"page" .
"menu" $.Site.Menus.footer
}}

{{ partial "menu.html" $ctx }}
