<header class="header">
  <div class="header__inner">
    <div class="header__logo">
      {{ partial "logo.html" . }}
    </div>

    {{ $ctx := dict
      "page" .
      "menu" $.Site.Menus.main
    }}

    {{ if len $.Site.Menus }}
    {{ partial "mobile-menu.html" $ctx }}
    {{ end }}
    {{ if and $.Site.Params.showLanguageSelector (len $.Site.Home.AllTranslations) }}
    {{ partial "language-menu.html" . }}
    {{ end }}
  </div>
  {{ if len $.Site.Menus }}
  {{ partial "menu.html" $ctx }}
  {{ end }}
</header>
