
:root {
  --background: #000000;
  --foreground: #ffffff;
  --accent: #edc272;
  --radius: 0;
  --font-size: 1rem;
  --line-height: 1.54em;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


ul.menu__dropdown, ul.menu__dropdown * {
  word-break: initial;
}
ul.menu__dropdown, ul.menu__dropdown {
  li {
    min-width: 13rem;
  }
}
